.social {
  position: absolute;
  height: 5.05%;
  width: 39.2%;
  top: 5.05%;
  left: 30.4%;
  font-size: var(--headline-700-size);
  letter-spacing: -0.02em;
  line-height: 34px;
  font-weight: 600;
  display: inline-block;
}
.festaDaSocial {
  margin: 0;
}
.festaDaSocialContainer {
  position: absolute;
  height: 31.16%;
  width: 82.93%;
  top: 54.06%;
  left: 8.53%;
  letter-spacing: -0.01em;
  line-height: 22px;
  color: var(--primary-neutral-300);
  text-align: left;
  display: inline-block;
}
.conviteOnChild {
  position: absolute;
  height: 27.83%;
  width: 85.6%;
  top: 15.52%;
  right: 7.2%;
  bottom: 56.65%;
  left: 7.2%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.jul01,
.social1 {
  position: absolute;
  text-align: left;
}
.jul01 {
  top: 12.32%;
  left: 39.73%;
  letter-spacing: -0.01em;
  line-height: 22px;
  color: var(--primary-neutral-500);
}
.social1 {
  height: 3.94%;
  width: 11.2%;
  top: 9.11%;
  left: 44.27%;
  font-size: var(--headline-300-size);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.conviteOnItem {
  position: absolute;
  height: 3.69%;
  width: 6.93%;
  top: 8.5%;
  right: 46.67%;
  bottom: 87.81%;
  left: 46.4%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.label {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
}
.button,
.button1 {
  border-radius: var(--br-26xl);
  height: 38px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button {
  flex: 1;
  background-color: var(--primary-brand-500);
  padding: var(--padding-8xs) var(--padding-26xl);
  color: var(--primary-neutral-100);
}
.button1 {
  background-color: var(--primary-neutral-700);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: var(--padding-4xs) var(--padding-26xl);
}
.label2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}
.button2,
.buttonParent,
.component8 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2 {
  border-radius: var(--br-26xl);
  width: 98px;
  height: 38px;
  display: none;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
}
.buttonParent,
.component8 {
  display: flex;
}
.buttonParent {
  flex: 1;
  overflow: hidden;
}
.component8 {
  position: absolute;
  top: 370px;
  left: 20px;
  border-radius: var(--br-21xl);
  background-color: var(--primary-neutral-700);
  width: 335px;
  height: 47px;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--headline-300-size);
  color: var(--primary-neutral-500);
}
.conviteOnInner {
  position: absolute;
  top: 71px;
  left: 0;
  background-color: var(--primary-neutral-900);
  width: 375px;
  height: 650px;
}
.estamosMuitoFelizes {
  position: absolute;
  height: 3.82%;
  width: 85.33%;
  top: 88.79%;
  left: 7.2%;
  font-size: var(--headline-600-size);
  letter-spacing: -0.02em;
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
}
.vocSerDirecionadoContainer {
  position: absolute;
  height: 10.34%;
  width: 71.47%;
  top: 39.16%;
  left: 14.13%;
  font-size: var(--body-text-300-size);
  letter-spacing: -0.01em;
  line-height: 26px;
  display: inline-block;
  cursor: pointer;
}
.dropIcon {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 33px;
  height: 34px;
  overflow: hidden;
}
.conviteOn {
  position: relative;
  background-color: var(--primary-neutral-900);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--body-text-100-size);
  color: var(--primary-brand-0);
  font-family: var(--body-text-300);
}
